:root {
  --color1: #ffffff;
  --color2: #000000;
  --color3: #d9dcdf;
  --color4: #3c3c3c;
  --color5: #247aa3;
  --shadow-position: 0 0.1rem 1rem 0.1rem;
  --primary-shadow-color: #8b8eaf;
  --shadow-color2: #717171;
  --top-margin: 2rem;
  --bottom-margin: 1rem;
  --bottom-margin-2: 1rem;
  --headings-font-size: 2rem;
  --headings-line-height: 2.4rem;
  --text-font-size: 1rem;
  --text-line-height: 1.4rem;
  --transition: 0.3s;
}

html, body {
  --font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  overflow-x: hidden;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-y: scroll;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--color5);
}

a:hover {
  color: var(--color2);
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--color1);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
  color: var(--color2);
}

nav a {
  color: var(--color2);
  transition: var(--transition);
}

nav a:hover {
  color: var(--color5);
  border-bottom: 2px solid var(--color5);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: 500;
}

.burger-menu {
  color: var(--color2);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

h2 {
  margin: var(--top-margin) 0 var(--bottom-margin) 0;
  font-size: var(--headings-font-size);
  line-height: var(--headings-line-height);
  text-transform: uppercase;
}

p {
  font-size: var(--text-font-size);
  line-height: var(--text-line-height);
}

.hero {
  background-color: var(--color3);
  color: var(--color2);
  display: flex;
  justify-content: center;
  height: 90vh;
  position: relative;
  transform-style: inherit;
}

.hero img::before{
  content: "";
  z-index: -1;
  position: absolute;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
}

.hero img {
  height: 90vh;
  left: 10px;
  position: absolute;
  z-index: -1;
  left: 32%;
}

.title {
  color: var(--color2);
  font-size: 25rem;
  position: absolute;
  z-index: -2;
  width: 100%;
  left: 0;
  font-weight: 1000;
  text-overflow: ellipsis;
  white-space: nowrap;
  animation: animate var(--t) linear infinite;
}

@keyframes animate {
  0%
  {
    transform: translateX(100%);
  }
  100%
  {
    transform: translateX(-410%);
  }
}

.about {
  background-color: var(--color2);
  color: var(--color1);
  height: 100vh;
  padding: 1rem 20rem;
  z-index: 1;
}

.about h2 {
  margin-top: 2rem;
  margin-bottom: var(--bottom-margin);
  text-align: center;
}

.about p {
  padding: 0.5rem 8rem;
  left: 50%;
}

.about p {
  margin-bottom: 1rem;
}

.skills {
  background-color: var(--color3);
  color: var(--color2);
  text-align: center;
  height: 100vh;
  padding: 1rem 6rem;
}

.icon {
  width: 12rem;
  height: 12rem;
}

.icon-card {
  background-color: var(--color1);
  border-radius: 12px;
  box-shadow: var(--shadow-position) var(--primary-shadow-color);
  padding: 20px;
  margin: 12px;
}

.projects {
  background-color: var(--color2);
  color: var(--color1);
  min-height: 100vh;
  padding: 1rem 6rem;
}

.project-pic {
  height: 8rem;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
}

.project-container {
  text-align: center;
  width: 22rem;
  height: 22rem;
  padding: 1rem;
  background-color: var(--color1);
  color: var(--color2);
}

.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

.project-card {
  border-radius: 11px;
  box-shadow: var(--shadow-position) var(--shadow-color2);
  padding: 20px;
  margin: 10px;
}

.contact {
  background-color: var(--color3);
  color: var(--color2);
  height: 100vh;
  padding: 1rem 6rem;
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  background-color: var(--color1);
  box-shadow: var(--shadow-position) var(--primary-shadow-color);
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: 500;
  color: var(--color2);
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 0.8rem;
  background-color: var(--color3);
}

.contact-form-container .input-field {
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  border: 0.1rem solid var(--color5);
  font-size: 0.8rem;
  outline: none;
  color: var(--color4);
  background-color: var(--color3);
}

.input-field::placeholder {
  color: var(---color4);
}

.contact input:focus {
  border: 2px solid var(--color4);
  background-color: var(--color1);
}

.contact textarea:focus {
  border: 2px solid var(--color4);
  background-color: var(--color1);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: var(--color3);
  border: 2px solid var(--color5);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  transition: var(--transition);
}

.submit-btn:hover {
  background-color: var(--color5);
  border: 2px solid var(--color5);
  color: var(--color1);
  cursor: pointer;
}

.socicon {
  width: 2rem;
  height: 2rem;
  background-color: var(--color1);
  border-radius: 5px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: center;
  background-color: var(--color2);
  color: var(--color1);
  padding: 1.25rem;
  text-align: center;
}

footer a:hover {
  color: var(--color1);
}

.scroll-up {
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 3rem;
  height: 3rem;
  background-color: var(--color1);
  border-radius: 5px;
}

.gallery {
  background-color: var(--color3);
  color: var(--color2);
  min-height: 100vh;
  padding: 1rem 0;
  text-align: center;
}

.gallery h2 {
  margin: 1rem;
}

.gallery ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 4rem;
}

.gallery li {
  height: 40vh;
  flex-grow: 1;
}

.gallery img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.premiere {
  text-align: center;
  background-color: var(--color2);
  color: var(--color1);
  padding: 1rem;
}

.premiere h2 {
  margin-bottom: 1rem;
}

.premiere video {
  width: 60%;
  box-shadow: var(--shadow-position) var(--shadow-color2);
}

.caption {
  margin: 1rem 0 3rem 0;
}

.aftereffects {
  text-align: center;
  padding: 1rem;
  background-color: var(--color3);
  color: var(--color2);
}

.note {
  margin: 2rem;
}

.frontend-projects {
  padding: 2rem;
  background-color: var(--color3);
  color: var(--color2);
  min-height: 100vh;
}

.frontend-project-container {
  text-align: center;
  background-color: var(--color1);
}

.frontend-project-card {
  border-radius: 11px;
  box-shadow: var(--shadow-position) var(--primary-shadow-color);
  padding: 20px;
  margin: 2rem 4rem;
}

.frontend-project-pic {
  width: 24rem;
  margin-bottom: 0.5rem;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.project-card:nth-child(1) {
  transition-delay: 200ms;
}

.project-card:nth-child(2) {
  transition-delay: 400ms;
}

.project-card:nth-child(3) {
  transition-delay: 600ms;
}

.project-card:nth-child(4) {
  transition-delay: 800ms;
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  .hero {
    flex-direction: column;
  }
  
  .hero img {
    height: 37.5rem;
    width: 23rem;
  }

  .bio {
    width: 18.3rem;
    margin-top: 7rem;
  }

  .bio-text {
    bottom: -2rem;
  }

  .more-about {
    width: 80%;
    margin: 0 1rem;
  }

  .project-container {
    width: 17.875rem;
  }

  .contact-form-container {
    max-width: 17.75rem;
  }
  
  .gallery ul {
    flex-direction: row;
  }

  .gallery li {
    height: auto;
    width: 100%;
  }

  .gallery img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}

@media screen and (max-width: 720px) {
  nav {
    padding: 1.5rem 1rem;
  }

  nav ul {
    position: fixed;
    background-color: var(--bg-color1);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

  nav ul li {
    margin: 8px;
  }

  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }

  .hero {
    margin-top: -4rem;
    flex-direction: column;
    gap: 0;
  }

  .hero img {
    height: 37.5rem;
    width: 30rem;
  }

  .bio {
    margin-top: -7rem;
    width: 20.5rem;
  }

  .more-about {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
  }

  .more-about h2 {
    text-align: center;
  }

  .more-about p {
    text-align: justify;
  }

  .icon {
    width: 6rem;
    height: 5rem;
  }

  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 20rem;
  }

  .contact-form-container {
    max-width: 24rem;
  }
}