:root {
  --bg-color-white: #fcfcfc;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
  --tertiary-color: white;
  --shadow-position: 0 0.1rem 1rem 0.1rem;
  --primary-shadow-color: #8b8eaf;
  --secondary-shadow-color: #C4CBE1;
  --top-margin: 0.5rem;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

html, body {
  --font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.dark-theme {
  color: #eee;
  background: #4b4b4b;
  --bg-color-white: rgb(71, 71, 71);
  --primary-color: #BB86FC;
  --primary-shadow-color: rgb(66, 66, 66);
  --secondary-shadow-color: rgb(36, 36, 36);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color-white);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
  color: var(--primary-color);
}

nav a {
  color: var(--primary-color);
  transition: var(--transition);
}

nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.btn-toggle {
  position: fixed;
  top: 6rem;
  right: 1rem;
  border-radius: 8px;
  padding: 0.5rem;
  background-color: var(--primary-color);
  color: var(--bg-color-white);
  border: 0px;
  font-family: "Inter", sans-serif;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
}

.hero img {
  height: 90vh;
  left: 10px;
}

.bio {
  width: 25rem;
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: var(--shadow-position) var(--primary-shadow-color);
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}

.more-about {
  background-color: var(--bg-color-white);
  padding: 1rem 6rem;
}

.more-about h2 {
  margin-top: 2rem;
  margin-bottom: var(--bottom-margin);
  text-align: center;
}

.more-about p {
  line-height: var(--line-height);
  padding: 0.5rem 8rem;
}

.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-header {
  margin-bottom: 1rem;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 12rem;
  height: 12rem;
}

.icon-card {
  background-color: var(--tertiary-color);
  border-radius: 12px;
  box-shadow: var(--shadow-position) var(--secondary-shadow-color);
  padding: 20px;
  margin: 12px;
}

.projects {
  background-color: var(--bg-color-white);
  padding: 32px 0;
  margin-top: 2rem;
}

.project-pic {
  height: 8rem;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
}

.project-container {
  text-align: center;
  width: 22rem;
  height: 20rem;
  padding: 1rem;
  color: black;
}

.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

.project-card {
  background-color: var(--tertiary-color);
  border-radius: 11px;
  box-shadow: var(--shadow-position) var(--primary-shadow-color);
  padding: 20px;
  margin: 10px;
}

.contact {
  margin-top: 2rem;
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  box-shadow: var(--shadow-position) var(--secondary-shadow-color);
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: 500;
  color: var(--primary-color);
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 0.8rem;
}

.contact-form-container .input-field {
  width: 100%;
  padding: 1rem 0;
  border-radius: 0.5rem;
  border: none;
  border: 0.1rem outset var(--primary-color);
  font-size: 0.8rem;
  outline: none;
}

.input-field::placeholder {
  padding: 1rem;
  color: var(--primary-color);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: var(--tertiary-color);
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}

.submit-btn:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: var(--bg-color-white);
  cursor: pointer;
}

.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
}

.socicon {
  width: 2rem;
  height: 2rem;
}

footer {
  background-color: var(--bg-color-white);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}

.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 3rem;
  height: 3rem;
}

.gallery {
  text-align: center;
}

.gallery h2 {
  margin: 1rem;
}

.gallery ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 4rem;
}

.gallery li {
  height: 40vh;
  flex-grow: 1;
}

.gallery img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  .gallery ul {
    flex-direction: row;
  }

  .gallery li {
    height: auto;
    width: 100%;
  }

  .gallery img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}

@media screen and (max-width: 720px) {
  nav {
    padding: 1.5rem 1rem;
  }

  nav ul {
    position: fixed;
    /* make nav float on screen */
    background-color: var(--bg-color-white);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

  nav ul li {
    margin: 8px;
  }

  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }

  .hero {
    margin-top: -4rem;
    flex-direction: column;
    gap: 0;
  }

  .hero img {
    height: 37.5rem;
    width: 30rem;
  }

  .bio {
    margin-top: -7rem;
    width: 20.5rem;
  }

  .more-about {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
  }

  .more-about h2 {
    text-align: center;
  }

  .more-about p {
    text-align: justify;
  }

  .icon {
    width: 6rem;
    height: 5rem;
  }

  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 20rem;
  }

  .contact-form-container {
    max-width: 24rem;
  }
}

@media screen and (max-width: 420px) {
  .hero img {
    height: 37.5rem;
    width: 23rem;
  }

  .bio {
    width: 18.3rem;
  }

  .project-container {
    width: 17.875rem;
  }

  .contact-form-container {
    max-width: 17.75rem;
  }
}